.productForm {
    margin-bottom: 15px;

    display: grid;
    gap: 30px;
    width: 100%;
    max-width: 400px;
    padding: 30px;

    @include v550 {
        max-width: 250px;
    }

    @include main-background;

    &__buttons {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__button {
        @include form-button;

        &[type="submit"] {
            @include hover-c-bg($main_2, $form_button_color_1, 300ms);
        }

        &[type="reset"] {
            @include hover-c-bg($main_2, $form_button_color_2, 300ms);
        }
    }
}
