@mixin v550 {
    @media screen and (max-width: $viewport550) {
        @content;
    }
}

@mixin roboto-medium {
    font-style: normal;
    font-family: "Roboto-Medium", sans-serif;
    word-wrap: break-word;
}

@mixin h1-font {
    @include roboto-medium;
    font-size: 50px;
    font-weight: 700;
    word-wrap: break-word;
}

@mixin p-big-font {
    @include roboto-medium;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.22;
    word-wrap: break-word;
    word-break: break-all;
}

@mixin p-normal-font {
    @include roboto-medium;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.42;
    word-wrap: break-word;
    word-break: break-all;
}

@mixin p-small-font {
    @include roboto-medium;
    font-size: 14px;
    font-weight: 200;
    line-height: 1.42;
    word-wrap: break-word;
}

@mixin flex_column_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin hover-c-bg($color, $bg-color, $ms) {
    transition: color $ms ease-in-out, background-color $ms ease-in-out;

    &:hover {
        color: $color;
        background-color: $bg-color;
    }
}

@mixin main-background {
    background-color: $main_1;
    border-radius: 30px;

    filter: drop-shadow(0 0 2px $main_2);

    @include v550 {
        border-radius: 20px;
    }
}

@mixin form-button {
    width: 100px;
    padding: 10px;

    text-align: center;

    border: 2px solid $grey_3;
    border-radius: 10px;

    &:active {
        opacity: 0.5;
    }
}
