$black: #000000;
$white: #ffffff;

$main_1: rgb(255, 250, 250);
$main_2: rgb(255, 240, 245);

$grey_1: #4d4d4d;
$grey_2: #7a7a7a;
$grey_3: #c6c6c6;
$grey_4: #d9d9d9;

$form_button_color_1: rgb(172, 229, 238);
$form_button_color_2: rgb(228, 113, 122);

$red_1: rgb(210, 22, 22);

$viewport550: 550px;
