.productCard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 350px;

    padding: 15px;

    border: 2px solid $grey_1;

    transition: background-color 0.2s ease-in-out;
    cursor: pointer;

    @include v550 {
        max-width: 280px;
    }

    &:hover {
        background-color: $green_1;
    }

    &:active {
        filter: opacity(0.7);
    }

    &_favorite {
        border-image: linear-gradient(
                to right,
                $form_button_color_1,
                $form_button_color_2
            )
            1;
        border-width: 5px;
    }

    &__information {
        margin-left: 10px;
        width: 100%;

        display: grid;
        grid-template-areas:
            "title title title"
            "author author year";
        gap: 15px;

        word-break: break-all;
    }

    &__title {
        grid-area: title;

        @include p-big-font;

        @include v550 {
            @include p-normal-font;
        }
    }

    &__author {
        grid-area: author;

        @include p-normal-font;

        @include v550 {
            @include p-small-font;
        }
    }

    &__year {
        grid-area: year;

        @include p-normal-font;

        @include v550 {
            @include p-small-font;
        }
    }
}
