.error404 {
    margin-top: 20%;

    @include flex_column_center;

    &__link {
        @include p-big-font;

        color: $red_1;

        transition: color 150ms ease-in-out;

        &:hover {
            color: $form_button_color_2;
        }

        &:active {
            color: $grey_2;
        }
    }

    &__text {
        width: 100%;

        text-align: center;
    }
}
