.productView {
    display: grid;
    grid-template-areas:
        "image information"
        "description description";
    gap: 10px;
    width: 100%;
    max-width: 500px;
    padding: 30px;

    @include p-normal-font;
    word-break: normal;

    @include main-background;

    @include v550 {
        max-width: 280px;
        padding: 15px;

        @include p-small-font;
    }

    &__image {
        $width: 179px;
        $height: 281px;

        grid-area: image;
        justify-self: center;
        width: $width;
        height: $height;

        &_border {
            border: 2px solid $grey_2;
            border-radius: 20px;

            @include v550 {
                border-width: 1px;
                border-radius: 10px;
            }
        }

        @include v550 {
            width: $width/2;
            height: $height/2;
        }
    }

    &__information {
        grid-area: information;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    &__description {
        grid-area: description;
        text-align: justify;
    }
}
