.productView {
    margin-bottom: 15px;

    display: grid;
    grid-template-areas:
        "image information"
        "description description"
        "buttons buttons";
    gap: 10px;
    width: 100%;
    max-width: 500px;
    padding: 30px;

    @include p-normal-font;
    word-break: normal;

    @include main-background;

    @include v550 {
        max-width: 280px;
        padding: 15px;

        @include p-small-font;
    }

    &_favorite {
        filter: drop-shadow(0 0 10px $main_2);
    }

    &__information {
        grid-area: information;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    &__description {
        margin-top: 20px;

        grid-area: description;
        text-align: justify;

        @include v550 {
            margin-top: 10px;
        }
    }

    &__link {
        @include link-style;
    }

    &__buttons {
        grid-area: buttons;
        justify-self: end;
    }

    &__button {
        margin-left: 10px;

        @include form-button;

        @include v550 {
            margin-left: 5px;
        }

        &_edit {
            @include hover-c-bg($main_2, $green_1, 300ms);
        }

        &_delete {
            @include hover-c-bg($main_2, $form_button_color_2, 300ms);
        }
    }
}
